* {
  margin: 0;
  font-size: 10px;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background-color: rgb(50, 167, 145);
}

#trybewarts-header-logo {
  width: 6rem;
}

#trybewarts-header-title {
  font-size: 3.6rem;
  color: white;
}

/*  MAIN */
#main-conteiner {
  display: flex;
}

#evalution-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#aside-image {
  height: 500px;
}
